<%= image_tag("lamboland logo.svg") %>


<h1>Lambos. On Demand.</h1>
<h3>Need a Lambo? We got you.</h2>

<div>
  <%= link_to "view lambos", "#", class: "btn btn-flat" %>
  <%= link_to "sign in", "#", class: "btn btn-flat" %>
</div>
