<div class="container">
<%= image_tag("lamboland logo.svg") %>

<h1>Lambos. On Demand.</h1>
<h3>Need a Lambo? We got you.</h2>

<br>

<div>
  <%= link_to "view lambos", lambos_path, class: "btn btn-flat" %>
  <% if current_user%>
    <%= link_to "Sign out", destroy_user_session_path, class: "btn btn-flat" %>
  <% else current_user%>
    <%= link_to "sign in", new_user_session_path , class: "btn btn-flat" %>
  <% end %>
</div>

</div>
