.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #670BFF;
  transition: .4s;

  /*--水平方向 垂直方向 影のぼかし 色--*/
  box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
}

.btn-flat:hover {
  background: #4D04C4;
  color: white;
  box-shadow: 0 0 10px rgba(0,0,0,0);
}

.btn-book {
  color: rgb(0, 0, 0);
  padding: 12px 36px;
  border-radius: 4px;
  background: #aaff0b;
  transition: background 0.3s ease;
}

.btn-book:hover {
  background: #cff72e;
  color: rgb(0, 0, 0);
}

.btn-book-2 {
    padding: 20px 100px;
    display: inline-block;
    color: #000000;
    text-decoration :none;
    text-align: center;
    background: #aaff0b;
    transition: .4s;

    /*--水平方向 垂直方向 影のぼかし 色--*/
    box-shadow: 10px 10px 10px rgba(0,0,0,0.3);

    /*--角丸指定--*/
    border-radius: 100vh;
  }

.btn-book-2:hover {

    /*--水平方向 垂直方向 色--*/
    box-shadow: 0 0 10px rgba(0,0,0,0);
    background: #7f9c0c;
}


.btn-owner {
  color: rgb(0, 0, 0);
  padding: 12px 24px;
  border-radius: 4px;
  background: gold;
  transition: .4s;
  box-shadow: 10px 10px 10px rgba(0,0,0,0.3);

  /*--角丸指定--*/
  border-radius: 100vh;
}

.btn-owner:hover {
  background: silver;
  color: rgb(0, 0, 0);
  box-shadow: 0 0 10px rgba(0,0,0,0);
}

.btn-main {
  color: rgb(0, 0, 0);
  padding: 16px 32px;
  border-radius: 4px;
  background: #aaff0b;
    transition: .4s;

    /*--水平方向 垂直方向 影のぼかし 色--*/
    box-shadow: 10px 10px 10px rgba(0,0,0,0.3);

    /*--角丸指定--*/
    border-radius: 100vh;
}

.btn-main:hover {
  background: #cff72e;
  box-shadow: 0 0 10px rgba(0,0,0,0);
  color: rgb(0, 0, 0);
}

.btn-sign {
  color: rgb(0, 0, 0);
  padding: 8px 16px;
  border-radius: 4px;
  background: #797979;
    transition: .4s;

    /*--水平方向 垂直方向 影のぼかし 色--*/
    box-shadow: 10px 10px 10px rgba(0,0,0,0.3);

    /*--角丸指定--*/
    border-radius: 100vh;
}

.btn-sign:hover {
  background: #3c3c3c;
  box-shadow: 0 0 10px rgba(0,0,0,0);
  color: rgb(0, 0, 0);
}

.btn-back {
  color: rgb(0, 0, 0);
  padding: 8px 24px;
  border-radius: 1px;
  background: #797979;
    transition: .4s;

    /*--水平方向 垂直方向 影のぼかし 色--*/
    box-shadow: 10px 10px 10px rgba(0,0,0,0.3);

    /*--角丸指定--*/
    border-radius: 100vh;
}

.btn-back:hover {
  background: #3c3c3c;
  box-shadow: 0 0 10px rgba(0,0,0,0);
  color: rgb(0, 0, 0);
}

.btn-1 {
  color: rgb(0, 0, 0);
  padding: 8px 24px;
  border-radius: 1px;
  background: #aaff0b;
    transition: .4s;

    /*--水平方向 垂直方向 影のぼかし 色--*/
    box-shadow: 10px 10px 10px rgba(0,0,0,0.3);

    /*--角丸指定--*/
    border-radius: 100vh;
}

.btn-1:hover {
  background: #000000;
  box-shadow: 0 0 10px rgba(0,0,0,0);
  color: rgb(0, 0, 0);
}
